
body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}

.game_name{
    background-color: rgb(128, 128, 128,0.5);
    color: white;
    border-radius: 25px;
    width: 75%;
    margin-left: 12.5%;
}

h1 {
    text-align: center
}
.container{
    display: inline;
    text-align: center
}

.drink{
    padding-top: 80px;
    color: white
}


.clear{
    clear: both;
}

.btn{
    margin-top: 25px;
    text-align: center
}

.circle{
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 1000px;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.select_players{
    margin-bottom: 50px;
    background-color: DodgerBlue;
    border-style: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 0 0 15px;
    cursor: pointer;
    /*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat DodgerBlue;
    */
}

