
html, body {height: 100%; width: 100%; margin: 0; }
.container{height: 100%; width: 100%;}

.header{
    height: 250px;
    background-color: black;
    text-align: center;
    
}

.box{
    position: fixed;
    margin: 100px 0px 0px 20%;
    background-color: white;
    height: 300px;
    width: 60%;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border-width: 2px;
    font-family: 'Major Mono Display', monospace;
    transition: 1s; 
}



.container{
    clear: left;
}

.column{
    float: left;
    margin: 0px 0px 0px 0px
}

.column_1 {
    background-color: rgb(184, 178, 178);
    margin-top: 155px;
    height: 90%;
    width: 15%;
    border-top-left-radius: 25px;
    margin-left: 20%;
}

.column_2 {
    border-top-right-radius: 25px; 
    background-color: gray;
    height: 90%;
    width: 45%;
    margin-top: 155px;
    text-align: center;
    color: aliceblue;
    font-size: 25px
}











