
html, body, .container {height: 100%; width: 100%; margin: 0}



.column{
    float: left;
    margin: 0px 0px 0px 0px
}



.column_1 {
    background-color: red;
    position: fixed;
    height: 100%;
    width: 20%;
}

.column_2 {
    background-color: rgb(157, 255, 0);
    margin-left: 20%;
    height: 120%;
    width: 80%;
}












